<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <meta name="description" content="a little garden open past midnight." />
    <title>caffeine.garden</title>
    <link rel="icon" href="../assets/panda.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <script src="../p5.min.js"></script>
    <script src="../sketch.js"></script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/about">
          <figure>
            <img class="icon" src="../assets/tree.ico" alt="a tree" />
            <figcaption>about</figcaption>
          </figure>
        </a></li>
        <li><a href="/shop">
          <figure>
            <img class="icon" src="../assets/plush_bear.ico" alt="a plush bear" />
            <figcaption>shop</figcaption>
          </figure>
        </a></li>
        <li><a href="https://www.instagram.com/caffeine.garden/" target="_blank">
          <figure>
            <img class="icon" src="../assets/earth_computer.ico" alt="a computer in front of the earth" />
            <figcaption>instagram</figcaption>
          </figure>
        </a></li>
        <li><a href="https://github.com/caffeine-garden/caffeine-garden" target="_blank">
          <figure>
            <img class="icon" src="../assets/paintbucket.ico" alt="a paint bucket" />
            <figcaption>see work</figcaption>
          </figure>
        </a></li>
      </ul>
    </nav>
    <main>
      <div id="main-content">
          <a href="/">caffeine.garden</a>
          {{ content | safe }}
      </div>
    </main>
  </body>

</html>
