<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <meta name="description" content="a little garden open past midnight." />
    <title>caffeine.garden</title>
    <link rel="icon" href="../assets/panda.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <script src="../p5.min.js"></script>
    <script src="../sketch.js" defer></script>
    <script src="../easter_eggs.js" defer></script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/about">
          <figure>
            <img class="icon" src="../assets/tree.ico" alt="a tree" />
            <figcaption>about</figcaption>
          </figure>
        </a></li>
        <li><a href="/shop">
          <figure>
            <img class="icon" src="../assets/plush_bear.ico" alt="a plush bear" />
            <figcaption>shop</figcaption>
          </figure>
        </a></li>
        <li><a href="https://www.instagram.com/caffeine.garden/" target="_blank">
          <figure>
            <img class="icon" src="../assets/earth_computer.ico" alt="a computer in front of the earth" />
            <figcaption>insta</figcaption>
          </figure>
        </a></li>
        <li><a href="https://github.com/caffeine-garden/caffeine-garden" target="_blank">
          <figure>
            <img class="icon" src="../assets/paintbucket.ico" alt="a paint bucket" />
            <figcaption>work</figcaption>
          </figure>
        </a></li>
      </ul>
    </nav>
    <main>
      <div id="main-content">
          <a href="/" id="home">caffeine.garden</a>
          {{ content | safe }}
      </div>
    </main>
      <marquee behavior="alternate" style="position:fixed;top:2rem;left:0px;width:100%;">
        <img style="display:block;filter:hue-rotate(30deg);margin-left:15px;" width="100" src="../assets/watering_can.gif" alt="neon water flowing from a watering can" />
        <img style="display:block;filter:hue-rotate(60deg);" width="150" src="../assets/construction17.gif" alt="a neon under construction sign" />
      </marquee>
      <marquee direction="right" scrollamount="3" style="position:fixed;top:80%;left:0px;width:100%;">
        <img src="../assets/construction2.gif" alt="a construction vehicle" />
      </marquee>
  </body>

</html>
