---
layout: modal.njk
title: what this is
---

a garden housing lots of projects for lots of people. 
it's where the little guys come to play.
cats come to frolic. 
doodles come to fruition. 
ways to share little moments of joy, whimsy, and thought.