@font-face {
  font-family: Pxlvetica;
  src: url(assets/Pxlvetica-XymZ.ttf);
}

body {
  background: #9ceb7d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Pxlvetica, Arial, sans-serif;
  color: #083005;
  font-size: x-large;
  overflow: hidden;
}

a {
  color: #083005;
  text-decoration: underline wavy #bfffa5;
}

a:hover {
  background-color: #bfffa5;
  transition-duration: 0.5s;
}

.h {
  position: absolute;
}

#main-content {
  position: absolute;
  width: 50%;
}

#about {
  bottom: 95%;
  left: 3%;
}

#shop {
  bottom: 95%;
  right: 3%;
}

#instagram {
  bottom: 3%;
  left: 3%;
}

#work {
  bottom: 3%;
  right: 3%;
}

@media only screen and (max-width: 750px) {
  #about {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 21%;
  }

  #shop {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 16%;
  }

  #instagram {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 11%;
  }

  #work {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1%;
  }
}
