@font-face {
  font-family: Pxlvetica;
  src: url(/assets/Pxlvetica-XymZ.ttf);
}

body {
  background: #9ceb7d;
  text-align: center;
  font-family: Pxlvetica, Arial, sans-serif;
  color: #083005;
  font-size: x-large;
}

main {
  margin: 0 auto;
}

nav {
}

/* responsive nav without media queries - inspired by this tutorial
https://css-tricks.com/responsive-layouts-fewer-media-queries/#aa-control-when-the-items-wrap 
*/
nav ul {
  --max-row-items: 4;
  --bounding-container-width-breakpoint: 500px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      clamp(
        100%/ (var(--max-row-items) + 1) + 0.1%,
        (100% - var(--bounding-container-width-breakpoint)) * 1000,
        100%
      ),
      1fr
    )
  );
  margin: 0;
  padding: 0;
  gap: 0.5em;
  place-items: center;
  list-style: none;
}

nav li {
  max-width: 100%;
  height: 100%;
}

nav figure {
  width: 100%;
  height: 100%;
  margin: auto;
}

.icon {
  /* filter: blur(0.5px); */
}

figcaption {
  font-size: medium;
}

a {
  color: #083005;
  text-decoration: none;
  /* text-decoration: underline wavy #bfffa5; */
}

a:hover {
  background-color: #bfffa5;
  transition-duration: 0.5s;
}
